common/person-profile.txt*
old-result
report/output

*.py[cod]

*.pdf
# C extensions
*.so

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
bin
env
.download_cache
var
sdist
develop-eggs
.installed.cfg
__pycache__

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
nosetests.xml

# Translations
*.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject

# virtualenv
.env

# vim swap file
*.swp
*.pyc
