<!DOCTYPE html>
<html lang="en" ng-app="SearchApp">
	<head>
		<!-- Standard Meta -->
		<meta charset="utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
		<!-- Site Properities -->
		<title>Sopaper</title>
		<link rel="stylesheet" type="text/css" href="static/css/semantic.css">
		<link rel="stylesheet" type="text/css" href="static/css/homepage.css">
		<script src="static/javascript/angular.min.js"></script>
		<script src="static/javascript/angular-resource.min.js"></script>
		<script src="static/javascript/angular-route.min.js"></script>
		<script src="static/javascript/angular-sanitize.min.js"></script>
		<script src="static/javascript/jquery.js"></script>
		<script src="static/javascript/semantic.js"></script>
		<script src="static/javascript/homepage.js"></script>
		<script src="static/javascript/search.js"></script>
		
	</head>
	<body id="home" class="masthead" ng-controller="IndexCtrl">
		<!-- Navigation Start-->
		<div class="ui large inverted menu">
			<a href="/" class="green item">
			<i class="book icon"></i> <b>SoPaper</b>
			</a>
			<div class="right menu">
				<a class="green item">
				<b>Sign in </b><i class="setting icon"></i>
				</a>
			</div>
		</div>
		<!-- Navigation End-->
		<div class="ui page grid">
			<img class="ui large logo image" src="static/images/logo.png">
			<div class="row"></div>		
			<div class="ui action input" style="width:700px; margin-left:auto; margin-right:auto">
				<input type="text"  placeholder="Search papers, authors, conferences..." ng-model="keyword">
				<div class="ui icon button" ng-click="IndexSearch()">
					<i class="search icon"></i>
				</div>
			</div>
			<div class="ui circular small author images">
				<img class="ui image" src="static/images/wyx.jpg" data-content="Yuxin Wu, the back-end architect">
				<img class="ui image" src="static/images/ltz.jpg" data-content="Tiezheng Li, the front-end designer">
			</div>

			<div class="ui footer">
				Sopaper is designed for researchers to conveniently get papers they need. <br/>
				Final project for Search Engine Introduction, CST, THU, 2014 Spring.No rights reserved.
			</div>

		</div>
	</body>
</html>