<!DOCTYPE html>
<html ng-app="SearchApp">
	<head>
		<!-- Standard Meta -->
		<meta charset="utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
		<!-- Site Properities -->
		<title>Sopaper</title>
		<link rel="stylesheet" type="text/css" href="static/css/semantic.css">
		<link rel="stylesheet" type="text/css" href="static/css/homepage.css">
		<script src="static/javascript/angular.min.js"></script>
		<script src="static/javascript/angular-sanitize.min.js"></script>
		<script src="static/javascript/angular-resource.min.js"></script>
		<script src="static/javascript/angular-route.min.js"></script>
		<script src="static/javascript/jquery.js"></script>
		<script src="static/javascript/semantic.js"></script>
		<script src="static/javascript/homepage.js"></script>
		<script src="static/javascript/search.js"></script>
	</head>
	<body id="home" ng-controller="SearchCtrl">
		<!-- Navigation Start-->
		<div class="ui large inverted menu" style="margin-top:0px">
			<a href="/" class="green item">
			<i class="book icon"></i> <b>SoPaper</b>
			</a>
			<div class="right menu">
				<div class="ui dropdown item">
					<i class="green user icon"></i>
					ppwwyyxx 
					<i class="dropdown icon"></i>
					<div class="ui inverted menu">
						<a class="item">
						<i class="book icon"></i> My papers
						</a>
						<a class="item">
						<i class="setting icon"></i>Account Settings
						</a>
						<a class="item">
						<i class="sign out icon"></i> Log Out
						</a>
					</div>
				</div>
			</div>
		</div>
		<!-- Navigation End-->
		<div class="ui large wide vertical inverted labeled icon sidebar menu" id="menu">
			<a class="item" ng-href = "{[{downloadahref}]}">
			<i class="inverted circular red awesome download cloud icon"></i> <b>Download Paper</b>
			</a>
			<div class="onleft item">
				<h2 class="ui header" id="paper_title" ng-bind="paper_title">
				</h2>
			</div>
			<div class="onleft item" ng-if="hasauthor">
				<h4 class="ui header">
				<i class="users icon"></i>
				Author(s): <a href="#" ng-repeat="author in paper_author" style="word-wrap:break-word;overflow:hidden;"> {[{author}]} <span>&nbsp; &nbsp;</span></a>
				</h4>
			</div>
			<div class="onleft item" ng-if="hascitedby">
				<h4 class="ui header">
				<i class="share icon"></i>
				Citation: <span ng-bind="paper_citednum"></span>
				</h4>
			</div>
			<div class="onleft item">
				<h4 class="ui header">
				<i class="cloud download icon"></i>
				Download: <span ng-bind="paper_download_count"></span>
				</h4>
			</div>
			<div class="onleft item">
				<h4 class="ui header">
				<i class="tags icon"></i>
				Tags:
				</h4>
				<div class="ui labels">
					<div class="ui label">
						<a href="#">Computer Science</a>
					</div>
					<div class="ui label">
						<a href="#">Engineering</a>
					</div>
				</div>
			</div>
			<div class="item">
				
				<div class="ui buttons">
					<ng-switch on="hasbibtex">
					<div ng-switch-when="true" class="ui bib blue button">Bibtex</div>
					<div ng-switch-when="false" class="ui bib disabled button">Bibtex</div>
					</ng-switch>
					<div class="or"></div>
					<ng-switch on="hasreferences">
					<div ng-switch-when="true" class="ui ref green button">Reflist</div>
					<div ng-switch-when="false" class="ui ref disabled button">Reflist</div>
					</ng-switch>
				</div>
				<div class="ui bib modal">
					<i class="close icon"></i>
					<div class="header">
						Bibtex
					</div>
					<div class="content">
						<div class="ui piled segment">
							<p ng-bind="paper_bibtex"></p>
						</div>
					</div>
					<div class="actions">
						<div class="ui teal right labeled icon button"><i class="copy icon"></i> Copy to Clipboard</div>
						<div class="ui button"> Close</div>
					</div>
				</div>
				<div class="ui ref modal">
					<i class="close icon"></i>
					<div class="header">
						Reference list
					</div>
					<div class="content">
						<div class="ui piled segment" style="height:400px;overflow:scroll">
							<p ng-repeat="aref in paper_references">
							<a href="{[{aref.href}]}">{[{aref.ref}]}</a>
							</p>
						</div>
					</div>
					<div class="actions">
						<div class="ui button"> Close</div>
					</div>
				</div>
			</div>
			<div class="item">
				<div style="margin-bottom:10px">
					Average rating:
					<div class="ui star rating">
						<i class="active icon"></i>
						<i class="active icon"></i>
						<i class="active icon"></i>
						<i class="icon"></i>
						<i class="icon"></i>
					</div>
				</div>
				<div class="item">
					<ng-switch on="zan">
					<div ng-switch-when="1" class="ui green button">
						<i class="thumbs up icon"></i>
					</div>
					<div ng-switch-when="0" class="ui basic inverted vertical fade animated uprate button">
						<div class="hidden content">Useful</div>
						<div class="visible content">
							<i class="thumbs up icon"></i>
						</div>
					</div>
					<div ng-switch-when="2" class="ui basic inverted disabled button">
						<i class="thumbs up icon"></i>
					</div>
					</ng-switch>
					
					<ng-switch on="cai">
					<div ng-switch-when="1" class="ui red button">
						<i class="thumbs down icon"></i>
					</div>
					<div ng-switch-when="0" class="ui basic inverted vertical fade animated downrate button">
						<div class="hidden content">Junk</div>
						<div class="visible content">
							<i class="thumbs down icon"></i>
						</div>
					</div>
					<div ng-switch-when="2" class="ui basic inverted disabled button">
						<i class="thumbs down icon"></i>
					</div>
					</ng-switch>
					<div class="ui basic inverted vertical fade animated sharing button">
						<div class="hidden content">Share</div>
						<div class="visible content">
							<i class="share sign icon"></i>
						</div>
					</div>
					<div class="ui sharing modal">
						<i class="close icon"></i>
						<div class="header">
							Share this paper to:
						</div>
						<div class="content">
							<div class="ui piled segment" style="height:60px">
								<!-- JiaThis Button BEGIN -->
								<div class="jiathis_style_32x32">
									<a class="jiathis_button_qzone"></a>
									<a class="jiathis_button_tsina"></a>
									<a class="jiathis_button_tqq"></a>
									<a class="jiathis_button_weixin"></a>
									<a class="jiathis_button_renren"></a>
									<a class="jiathis_button_cqq"></a>
									<a class="jiathis_button_t163"></a>
									<a class="jiathis_button_kaixin001"></a>
									<a class="jiathis_button_feixin"></a>
									<a class="jiathis_button_douban"></a>
									<a class="jiathis_button_hi"></a>
									<a class="jiathis_button_googleplus"></a>
									<a class="jiathis_button_twitter"></a>
									<a class="jiathis_button_fb"></a>
									<a class="jiathis_button_evernote"></a>
									<a href="http://www.jiathis.com/share" class="jiathis jiathis_txt jtico jtico_jiathis" target="_blank">更多</a>
									<a class="jiathis_counter_style"></a>
								</div>
								<script type="text/javascript" src="http://v3.jiathis.com/code/jia.js?uid=1397118670180681" charset="utf-8"></script>
								<!-- JiaThis Button END -->
							</div>
						</div>
						<div class="actions">
							<div class="ui button"> Close</div>
						</div>
					</div>
					<div class="ui basic inverted vertical fade animated com button">
						<div class="hidden content">Comment</div>
						<div class="visible content">
							<i class="chat icon"></i>
						</div>
					</div>
					<div class="ui very small success message" style="margin-left:20px;width:86%">
						<i class="close icon"></i>
						<div class="header">
							Rated successfully!
						</div>
					</div>
					<div class="ui com modal">
						<i class="close icon"></i>
						<div class="header">
							Comments on "Ontology learning for the semantic web"
						</div>
						<div class="content">
							<div class="ui comments">
								<div class="comment" ng-repeat="acom in comments">
									<div class="content">
										<a class="author">{[{acom.uid}]}</a>
										<div class="metadata">
											<div class="date">some days ago</div>
										</div>
										<div class="text">
											{[{acom.cmt}]}
										</div>
									</div>
								</div>
								
								<div class="ui reply form">
									<div class="field">
										<textarea ng-model="commentername" placeholder="Your name" style="height:3em; min-height:3em"></textarea>
									</div>
									<div class="field">
										<textarea ng-model="commentcontent"placeholder="Write down your thoughts..."></textarea>
									</div>
									Rate this paper:
									<div class="ui star rating">
										<i class="icon"></i>
										<i class="icon"></i>
										<i class="icon"></i>
										<i class="icon"></i>
										<i class="icon"></i>
									</div>
									<div class="ui right floated button teal submit labeled icon" ng-click="Submitcomment()">
										<i class="icon edit"></i> Add Comment
									</div>
								</div>
							</div>
						</div>
						<div class="actions">
							<div class="ui button"> Close</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="ui black huge launch detail right attached button">
			<i class="book icon"></i>
			<span class="text"><b>DETAIL</b></span>
		</div>
		<div class="ui right floated black huge launch summary right attached button">
			<span class="text"><b>SEARCH</b></span>
			<i class="icon list layout"></i>
		</div>
		<!-- Search Summary Start-->
		<div class="ui right extremly wide sidebar">
			<div class="ui large inverted menu">
				<a class="green item">
				<b>Content Search</b>
				</a>
			</div>
			<div class="ui contentsearch dimmer"><div class="ui large text loader">Loading</div></div>
			<div class="ui action input" style="width:500px; margin-left:40px">
				<input type="text"  placeholder="Search papers, authors, conferences..." value="Advances in knowledge discovery and data mining"ng-model="keyword">
				<div class="ui icon button" ng-click="Search()">
					<i class="search icon"></i>
				</div>
			</div>
			<div class="ui page grid">
				<h4 class="ui header" style="margin-top:10px" ng-if="finishsearching">
					About {[{ paper_cnt }]} results (in {[{elapsetime}]} s)
				</h4>
				<!--div class="ui secondary pointing menu">
					<a class="active item">
					<i class="book icon"></i> Papers
					</a>
					<a class="item">
					<i class="user icon"></i> Authors
					</a>
					<a class="item">
					<i class="sitemap icon"></i> Content
					</a>
				</div-->
				<div class="ui divided list">
					
					<div class="item" ng-repeat ="p in currentpapers">
						<i class="bookmark icon"></i>
						<div class="content">
							<a class="header" ng-click="Selectpaper(p.title)"> {[{ p.title }]}</a>
							<div class="metadata">
								UM Fayyad, G Piatetsky-Shapiro, P Smyth… - 1996 - citeulike.org
							</div>
							<div class="description" ng-bind-html="p.content"> </div>
						</div>
					</div>
					<!--div class="item">
						<i class="bookmark icon"></i>
						<div class="content">
							<a class="header">Data mining techniques: for marketing, sales, and customer support</a>
							<div class="metadata">
								MJ Berry, G Linoff - 1997 - dl.acm.org
							</div>
							<div class="description"> <span class="keyword">Data Mining</span> Techniques thoroughly acquaints you with the new generation of data mining tools and techniques and shows you how to use them to make better business decisions. One of the first practical guides to mining business data, it describes techniques for ...</div>
						</div>
					</div>
					<div class="item">
						<i class="bookmark icon"></i>
						<div class="content">
							<a class="header">Advances in knowledge discovery and data mining</a>
							<div class="metadata">
								UM Fayyad, G Piatetsky-Shapiro, P Smyth… - 1996 - citeulike.org
							</div>
							<div class="description"> Advances in Knowledge Discovery and <span class="keyword">Data Mining</span> brings together the latest research--in statistics, databases, machine learning, and artificial intelligence--that are part of the exciting and rapidly growing field of Knowledge Discovery and <span class="keyword">Data Mining</span>. ...</div>
						</div>
					</div-->
				</div>
				<div class="ui pagination menu" style="margin-left:200px" ng-if="finishsearching">
					<a class="icon item" ng-click="Nextpage(-1)">
					<i class="left arrow icon"></i>
					</a>
					<a class="active item">
						{[{currentpage}]}
					</a>
					<a class="icon item" ng-click="Nextpage(1)">
						<i class="right arrow icon"></i>
					</a>
				</div>
			</div>
			
		</div>
		<!-- Search Summary End-->
		
		<!-- Main Content Start-->
		<div class="ui page">
			<div ng-bind-html="pdfhtml"></div>
			<!-- SideBar Start-->
			<!-- SideBar End-->
			
		</div>
		<!-- Main Content End-->
		<input type="hidden" id="pass" value="{{searchkeyword}}">
	</body>
</html>